/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion common */

/* #region utilities */

/* #endregion utilities */

/* #region debug */

/* #endregion debug */

/* #region main */

/* #endregion main */